
:root {
    --swiper-pagination-color: #ffffff;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
}

.bg-custom-white {
    background-color: #DEDEDE;
}

.background_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    image-orientation: from-image;
    background-image: url(/slnee_moi_website/static/src/img/bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: -1;
}

div.main-logo {
    text-align: center;
    padding-top: 2rem;
}

div.main-logo img{
    width: 20%;
}

div.content .container {
    margin-bottom: 2rem;
}

div.content .navbar .navbar-nav{
    width: 100%;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

div.content .navbar .navbar-nav a.nav-link {
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    font: normal normal bold 25px/35px Sakkal Majalla;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.text-dark-green {
    color: #002710 !important;
}

div.content .navbar .navbar-nav a.nav-link:hover,
div.content .navbar .navbar-nav a.nav-link.active {
    color: #CBA439 !important;
    border-bottom: 1px solid #CBA439;
    opacity: 1;
}

div.search {
    text-align: center;
    width: 100%;
}

div.search input {
    width: 916px;
    height: 54px;
    padding: 0 10px;
    font-size: 22px;
    border: 0.5px solid var(--unnamed-color-ffffff);
    border: 0.5px solid #FFFFFF;
    border-radius: 27px;
    opacity: 0.2;
}

.card-home {
    width: 500px !important;
    height: 300px;
    background-color: rgba(41, 98, 79, 0.25);
    border-radius: 25px;
    opacity: 1;
    backdrop-filter: blur(30px);
    padding: 1.5rem 1rem;
}

.card-home img {

}

.mySwiper {
  width: 100%;
  height: 350px;
}

.inline-logo {
    text-align: right;
    padding-top: 3rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
}

.inline-logo img {
    width: 35vw;
}

.page-title {
    background-color: #D6D6D6;
    border-radius: 27px;
    opacity: 1;
    height: 40px;
}

.oe_website_login_container .oe_login_buttons {
    float: right;
}

.oe_website_login_container .oe_login_buttons button.btn-primary {
    width: fit-content;
    border-radius: 23px;
    background-color: #0C2612;
    color: #ffffff;
}

.oe_website_login_container .oe_login_buttons div.justify-content-between {
    display: none !important;
}

.custom-sidebar .menu svg {
  height: 25px;
  fill: white;

}

.custom-sidebar {
 margin-top: 2rem;
  position: fixed;
  background: rgba(255,255,255,0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);


  font-family: "Roboto", sans-serif;
  width: 80px;
  right: -25px;
  padding-right: 20px;
  border-radius: 30px;
  overflow: hidden;
  transition: all 400ms cubic-bezier(0.07, 0.88, 0.37, 1.05);
  height: 570px;
}

.custom-sidebar .label {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 600ms ease;
}

.custom-sidebar:hover .label {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.custom-sidebar:hover {
  width: 255px;
}

.custom-sidebar:hover .menu a {
  margin: 0 14px;


}

.custom-sidebar:hover .menu-title {
  padding: 0 46px;
}

.custom-sidebar .menu a {
  font-size: 15px;
  color: whitesmoke;
  height: 33px;
}



.custom-sidebar .menu {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-sidebar .menu-title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 8px 0;
  padding: 0 20px;
  transition: all 400ms ease;
}

.custom-sidebar .menu a {
  display: flex;
  gap: 24px;
  align-items: center;
  text-decoration: none;
  padding: 0px 24px;
  border-radius: 10px;
  transition: all 500ms ease;
  flex-direction: row-reverse;
}

.custom-sidebar .menu a:hover {
  border: 1px solid whitesmoke;
}



@media (max-width: 600px) {
  .custom-sidebar {
    overflow: visible;
    width: 300px;
    transform: translateX(-100%);
    left: 0;
  }

  .custom-sidebar.active {
    transform: translateX(0);
  }

  .custom-sidebar .label {
    opacity: 1;
    transform: translateX(0);
  }

  .custom-sidebar .logo {
    border-radius: 10px 10px 0 0;
  }

  .custom-sidebar:hover .menu-title {
    padding: 0 20px;
  }

  .custom-sidebar .menu a {
    margin: 0 24px;
  }
}

.my-dashboard-menu-bar {
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-size: 15px;
  position: relative;
  flex-direction: row-reverse;
}

.inline-logo.my-dashboard {
	padding-top: 0rem;
	padding-right: 0rem;
	margin-bottom: 0rem;
	margin-left: auto;
}

.inline-logo.my-dashboard img {
	width: 10vw;
}

ul.custom_header {
    list-style: none;
    margin: 0;
}

ul.custom_header li {
    display: inline-block;
    position: relative;
}

ul.custom_header li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
}

ul.custom_header li ul.dropdown li {
    display: block;
}

ul.custom_header li ul.dropdown li a {
	text-align: right;
}

ul.custom_header li ul.dropdown {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0;
}

ul.custom_header li a:hover {
  background: rgba(255,255,255,0.35);
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  border: 1px solid rgba(255,255,255,0.175);
  border-radius: 7px;

}

ul.custom_header li:hover ul.dropdown {
    display: block;
}

.profile-img {
	background-color: white;
	border-radius: 50px;
	padding: 2px;
}

.profile-img img {
	width: 3.5rem
}

.data_container {
	min-height: 80vh;
	background-color: #f6f7fb;
	width: 95vw;
	margin-top: 2rem;
	border-radius: 0 30px 30px 0;
	padding: 1rem;
	text-align: right;
}

.custom-sidebar:hover + .data_container {
	width: 83vw;
}

.dashboard-options {
	flex-direction: row-reverse;
	padding: 1rem;
}

.bg-c-lite-green {
	background: linear-gradient(to right, #01a9ac, #01dbdf);
}

.option .card-block {
	padding: 0.5rem;
}

.th-select-all {
	text-align: center;
}

table.dataTable thead th.select-checkbox {
	position: relative;
}

table.dataTable thead th.select-checkbox::before,
table.dataTable thead th.select-checkbox::after {
	display: block;
	position: absolute;
	top: 1.2em;
	left: 50%;
	width: 12px;
	height: 12px;
	box-sizing: border-box;
}

table.dataTable tbody th.select-checkbox::before {
	content: ' ';
	margin-top: -6px;
	margin-left: -6px;
	border: 1px solid black;
	border-radius: 3px;
}

table.dataTable tr.selected th.select-checkbox::after {
	content: '\2714';
	margin-top: -11px;
	margin-left: -4px;
	text-align: center;
	text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}

.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 30px 25px;
  height: 100%;
  margin-right:-10px;

}

.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
}
.c-dashboardInfo span {
  display: block;
}
.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 64px;
   color: #323c43;
}
.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(82.59deg, #ffffff 0%, #008000 100%);
}
.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #ffffff 0%, #008000 100%);
}
.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #ffffff 0%, #008000 100%);
}
.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg,#ffffff 0%, #008000 100%);
}

// .c-dashboardInfo:nth-child(1) .wrap:after {
//   background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
// }
// .c-dashboardInfo:nth-child(2) .wrap:after {
//   background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
// }
// .c-dashboardInfo:nth-child(3) .wrap:after {
//   background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
// }
// .c-dashboardInfo:nth-child(4) .wrap:after {
//   background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
// }
.c-dashboardInfo__title svg {
  color: #d7d7d7;
  margin-left: 5px;
}
.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}


.rt{
width: 1400px;
margin-left:-400px
}
.second-container{
margin-top:-30px;

}

.admin-info{
font-size:1em;
color:black;
font-family:"Barlow Condensed", "Odoo Unicode Support Noto", sans-serif;
}

.admin-title{
color:black;
font-family:"Barlow Condensed", "Odoo Unicode Support Noto", sans-serif;
color:black;
font-weight:bold;
font-size:1.08em;
}

.card-title{
font-weight:bold;
color:black;
font-size:1.10em;
font-family:"Barlow Condensed", "Odoo Unicode Support Noto", sans-serif;
margin-right:-20px;
justify-content: space-between;
display: flex;
}

.fa.fa-wpforms{
margin-right:190px
}

.fa-clock-o:before{
margin-right:530px;
}

.txt-bg{
background:#D3D3D3;
color:black;
font-size:1.18em;
font-family:"Barlow Condensed", "Odoo Unicode Support Noto", sans-serif;
}
.txt-el2{
color:black;
font-size:1.08em;
font-family:"Barlow Condensed", "Odoo Unicode Support Noto", sans-serif;
}

.cursor-pointer {
	cursor: pointer;
}

.data-table {
	background: #ffffff;
	box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding: 30px 25px;
	height: 100%;
	margin-right: -10px;
}

.data_selected_option .data-table:after {
  background: linear-gradient(82.59deg, #ffffff 0%, #008000 100%);
}

td.actions {
	width: 200px;
}

td.actions span.icon-cancel,
td.actions span.icon-confirm,
td.actions span.icon-edit,
td.actions span.icon-view {
	padding: 3px 5px;
	border-radius: 6px;
	margin-left: 10px;
	cursor: pointer;
}

td.actions span.icon-cancel {
	background-color: #dc1f1f;
	color: white;
}

td.actions span.icon-cancel:hover {
	background-color: transparent;
	color: #dc1f1f;
}

td.actions span.icon-confirm {
	background-color: #69b64d;
	color: white;
}

td.actions span.icon-confirm:hover {
	background-color: transparent;
	color: #69b64d;
}

td.actions span.icon-edit {
	background-color: #2ccdbe;
	color: white;
}

td.actions span.icon-edit:hover {
	background-color: transparent;
	color: #2ccdbe;
}

td.actions span.icon-view {
	background-color: #1d9ccd;
	color: white;
}

td.actions span.icon-view:hover {
	background-color: transparent;
	color: #1d9ccd;
}

.modal .modal-header,
.modal .modal-footer {
	flex-direction: row-reverse;
}

.modal button.close {
	margin: -1rem auto -1rem -1rem;
}